body{
    margin: 0;
    background-color: #121214;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

h1{
    margin: 0;
    font-size: 42px;
}

.instructions {
  margin: 0;
  font-size: 16px;
}

#message {
  margin: 0;
  height: 24px;
  /* adding height to this paragraph so that when the message changes whether to announce winning or losing the board never moves up or down */
  font-size: 18px;
}

#board{
    display: grid;
    /* grid makes it easier to control columns and row together, better to use in this case than flexbox from what I have found*/
    grid-template-columns: repeat(5, 60px); 
    /* create 5 columns, with each column being 60px wide, repeat is used as a shortcut */
    gap: 8px;

}

.tile{
    width: 60px;
    height: 60px;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    /* centering the letters both horizontally and vertically */
    font-size: 32px;;
    font-family: Arial, Helvetica, sans-serif;
}

#reset-button {
  background-color: #3a3a3c;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.correct-color{
  background-color: rgb(24, 145, 24);
  border-color: rgb(0, 108, 0);
 
}

.wrong-color{
  background-color: gray;
  border-color: rgb(84, 84, 84);
}

.almost-color{
  background-color: rgb(174, 174, 0);
  border-color: rgb(255, 255, 72);
}

@keyframes flip-tile {

  0%{ transform: rotateX(0deg);}
  50%{ transform: rotateX(90deg);}
  100%{ transform: rotateX(0deg);}

}

.flip{animation: flip-tile 1.3s;}

.flip-each-index{animation-delay: 0.15s;}